<title>EzeFind Telstra</title>
<div style="margin: 0px; padding: 0px; background:#E4E4E4;">
	<div style="width:600px; margin: 0px auto;">
	<table style="background:#fff; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">
				<p style="color:#8a8a8a; font-family: Helvetica, sans-serif; font-size:11px; padding:0 5px;">Trouble viewing this email? Click here to view the email online</p>
			</td>
		</tr>

		<table style="background:#fff; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center">
					<img src="http://www.joloortiz.com/pisites/ezefind-telstra/images/headercompare.png">
				</td>
			</tr>

			<table style="background:#fff; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
				<table style="background:#fff; margin:0px auto; width:600px; font-family: Helvetica Neue, sans-serif; padding:0 7px;" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
						<td style="padding:35px 10px; width:50%;">
							<table style="width: 100%;" cellpadding="0" border="0" cellspacing="0">
								<tr style="background:#363636;">
									<td>&nbsp;</td>
									<td style="color:#fff;">
										<div style="background:#363636; padding:3px 0 3px 19px;">
											<p style="color:#fff; font-weight: bold; font-size:17px; padding:0px; margin:0px;">
												Nokia Lumia 520
											</p>
										</div>
									</td>
								</tr>

								<tr>
									<td valign="top">
										<img src="http://www.joloortiz.com/pisites/ezefind-telstra/images/lumia520.png" style="padding:5px 0; width:96%;">
									</td>
									<td valign="top">
										<table border="0" cellspacing="0" cellpadding="0" style="padding:5px 10px 0px 0px;">
											<tr>
												<td valign="top" style="color: #850060; font-size: 25px;">
													<p style="padding:0px; margin:0px">$</p>
												</td>
												<td valign="top" style="color:#850060; line-height:80px;">
													<p style="margin: 0 0 20px 0; padding: 0px; font-weight:lighter; font-size: 91px; letter-spacing:-8px;">149</p>
												</td>
											</tr>
										</table>

										<p style="color:#640064; font-weight: bold; font-size:14px; padding:0px; margin:0 0 15px 0;">Key Features</p>

										<table style="background-color: #ffffff; font-family: Helvetica, sans-serif; font-size: 11px;" width="100%">
										<tr>
											<td width="13%" valign="top"><b>OS</b></td>
											<td width="01%" valign="top"> : </td>
											<td width="36%" valign="top">MS Windows Phone 8</td>
										</tr>
										<tr>
											<td valign="top"><b>Dimensions</b></td>
											<td valign="top"> : </td>
											<td valign="top">119.9 x 64 x 9.9 mm</td>
										</tr>
										<tr>
											<td valign="top"><b>Processor</b></td>
											<td valign="top"> : </td>
											<td valign="top">Dual-core 1 GHz</td>
										</tr>
										<tr>
											<td valign="top"><b>RAM</b></td>
											<td valign="top"> : </td>
											<td valign="top">512 MB</td>
										</tr>
										<tr>
											<td valign="top"><b>Camera</b></td>
											<td valign="top"> : </td>
											<td valign="top">5MP</td>
										</tr>
										<tr>
											<td valign="top"><b>Connectivity</b></td>
											<td valign="top"> : </td>
											<td valign="top">2G, 3G, WIFI</td>
										</tr>
										<tr>
											<td valign="top"><b>Battery Life</b></td>
											<td valign="top"> : </td>
											<td valign="top">N/A</td>
										</tr>
										<tr>
											<td valign="top"><b>Color</b></td>
											<td valign="top"> : </td>
											<td valign="top">Black</td>
										</tr>
									</table>
								</td>
								</tr>
							</table>
						</td>

						<td>&nbsp;</td>

						<td style="padding:35px 5px; width:50%;">
							<table style="width: 100%;" cellpadding="0" border="0" cellspacing="0">
								<tr style="background:#363636;">
									<td style="color:#fff;">
										<div style="background:#363636; padding:3px 0 3px 10px;">
											<p style="color:#fff; font-weight: bold; font-size:17px; padding:0px; margin:0px;">
												Telstra Frontier 4G
											</p>
										</div>
									</td>
									<td>&nbsp;</td>
								</tr>

								<tr>
									<td valign="top">
										<table border="0" cellspacing="0" cellpadding="0" style="padding:5px 10px 0px 0px;">
											<tr>
												<td valign="top" style="color: #850060; font-size: 25px;">
													<p style="padding:0px; margin:0px">$</p>
												</td>
												<td valign="top" style="color:#850060; line-height:80px;">
													<p style="margin: 0 0 20px 0; padding: 0px; font-weight:lighter; font-size: 91px; letter-spacing:-8px;">199</p>
												</td>
											</tr>
										</table>

										<p style="color:#640064; font-weight: bold; font-size:14px; padding:0px; margin:0 0 15px 0;">Key Features</p>

										<table style="background-color: #ffffff; font-family: Helvetica, sans-serif; font-size: 11px;" width="100%">
										<tr>
											<td width="13%" valign="top"><b>OS</b></td>
											<td width="01%" valign="top"> : </td>
											<td width="36%" valign="top">Google Android</td>
										</tr>
										<tr>
											<td valign="top"><b>Dimensions</b></td>
											<td valign="top"> : </td>
											<td valign="top">10.6cm x 7.8cm x 14cm</td>
										</tr>
										<tr>
											<td valign="top"><b>Processor</b></td>
											<td valign="top"> : </td>
											<td valign="top">Dual core 1.5GHz</td>
										</tr>
										<tr>
											<td valign="top"><b>RAM</b></td>
											<td valign="top"> : </td>
											<td valign="top">1GB</td>
										</tr>
										<tr>
											<td valign="top"><b>Camera</b></td>
											<td valign="top"> : </td>
											<td valign="top">5MP</td>
										</tr>
										<tr>
											<td valign="top"><b>Connectivity</b></td>
											<td valign="top"> : </td>
											<td valign="top">3G, 4G, WIFI</td>
										</tr>
										<tr>
											<td valign="top"><b>Battery Life</b></td>
											<td valign="top"> : </td>
											<td valign="top">N/A</td>
										</tr>
										<tr>
											<td valign="top"><b>Color</b></td>
											<td valign="top"> : </td>
											<td valign="top">Black</td>
										</tr>
									</table>
								</td>

								<td valign="top">
									<img src="http://www.joloortiz.com/pisites/ezefind-telstra/images/telstra4g.png" style="padding:5px 0; width:96%;">
								</td>
								</tr>
							</table>
						</td>

					</tr>
				</table>
			</table>

			<table style="background:#fff; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
				<table style="background:#fff; font-size: 12px; font-family: Helvetica, sans-serif; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td style="width:50%; padding:30px 0px 0px 20px;" valign="top">
							
						</td>
					</tr>
				</table>
			</table>

			<table style="font-family: Helvetica, sans-serif; background:#fff; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="padding:10px;">&nbsp;</td>
				</tr>
			</table>
			<table style="font-family: Helvetica, sans-serif; background:#f7f7f7; margin: 0px auto; padding: 0px; width: 600px;" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="padding:10px 20px;">
					<p style="font-size:9px; color:#909090; width:90%;">
						Telstra 2014
					</p>
					</td>
				</tr>
			</table>
		</table>
	</table>
	</div>
</div>